<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')"></head>

<body>
<nav th:replace="partials/navbar::navbar"></nav>

<h1 style="width: 100%; text-align: center">Day : <output th:text ="${day}"></output></h1>

<br />

<div class="searchContainer" >
    <div th:each="exercise : ${exercises}">
        <div draggable="true" ondragstart="drag(event)" th:id = "${exercise.name}">
            <div class = "setForm">
                <h3 class = "searchItem" th:text="${exercise.name}"></h3>
                <input th:value="*{exercise.name}" type="hidden" />
                <ul style="display: none" class = "buildItem">
                    <li th:text="${exercise.name}" class = "setFormItems" ></li>
                    <form th:action="@{/createplan/} + ${day}" method = "post" th:object="${workSet}">
                        <input th:value="${exercise.name}"  th:field="*{exerciseName}" type="hidden" />
                        <li >Weight: <input th:value="${weight}" th:field="*{weight}" type="text" class = "setFormItemsBig"/></li>
                        <li >Reps: <input th:value="${reps}" th:field="*{reps}" type="text" class = "setFormItems"/></li>
                        <li >Sets: <input th:value="${sets}" th:field="*{sets}" type="text" class = "setFormItems"/></li>
                        <input type="submit" value="save" />
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="builder" id="builder" ondrop="drop(event)" ondragover="allowDrop(event)">
<div th:each="thisSet : ${workSets}" >
    <div class="setForm">
    <ul class = "buildItem">
        <li th:text="${thisSet.exerciseName}" class = "setFormItems" ></li>
        <form th:action="@{/editplan/} + ${day}" method = "post" >
            <input th:value="${thisSet.id}" type="hidden" name="id" />
            <li >Weight: <input th:value="${thisSet.weight}" type="text" class = "setFormItemsBig" name="weight"/></li>
            <li >Reps: <input th:value="${thisSet.reps}" type="text" class = "setFormItems" name="reps"/></li>
            <li >Sets: <input th:value="${thisSet.sets}" type="text" class = "setFormItems" name="sets"/></li>
            <input type="submit" value="edit" />
        </form>
        <form th:action="@{/deleteitem/} + ${day}" method = "post">
            <input th:value="${thisSet.id}" type="hidden" name = "id"/>
            <input type="submit" value="delete" style="float:left"/>
        </form>
        <form th:action="@{/duplicateitem/} + ${day}" method = "post">
            <input th:value="${thisSet.id}" type="hidden" name="id" />
            <input type="submit" value="duplicate" style="float:left" />
        </form>
    </ul>
    </div>
</div>
</div>




</body>

<script>
    "use strict";

    var data;
    var increment = 0;
    var name = "name";
    var set = document.getElementById("set1");
    console.log(set);
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        var copy = document.getElementById(data);
        increment++;
    }

    function drop(ev) {
        ev.preventDefault();
        data = ev.dataTransfer.getData("text");
        var nodeCopy = document.getElementById(data).cloneNode(true);
        nodeCopy.id = "newId"; /* We cannot use the same ID */
        ev.target.appendChild(nodeCopy);
        var a = nodeCopy.childNodes[1].childNodes[1];
        console.log(a);

        var b = nodeCopy.childNodes[1].childNodes[5];
        console.log(b);

        var string = nodeCopy.childNodes[1].childNodes[3];
        console.log(string);

        var targetValue = b.childNodes[3].childNodes[1];
        console.log(targetValue);

        targetValue.value = string.value;

        a.style.display = "none";
        b.style.display = "inline-block";
    }
</script>
</html>